static/css/open-iconic/sprite/* linguist-vendored
templates/Macros.html linguist-vendored
templates/cabecerapie.html linguist-vendored
templates/main.html linguist-vendored
templates/ver_evento.html linguist-vendored
