{% extends 'cabecerapie.html' %}


{% block contenido %}

{% from "Macros.html" import mis_eventos %}





<div class="row">
    <div class="col-md-12">

<h1 class="display-4" style="margin-top: 45px"> <p class="text-center"> Mis Eventos </p></h1>


      {% block flash%}

      {{ super() }}

      {% endblock %}


    </div>
</div>

<div class="container-fluid">


<div class="table-responsive">
<table class="table table-hover table-dark" style="background-color: #23272b">
  <thead style="color: orangered">
    <tr>
      <th scope="col">Nombre / titulo</th>
      <th scope="col">Fecha y Hora</th>
      <th scope="col">Lugar</th>
      <th scope="col">Estado</th>
       <th scope="col" style="text-align: center">Accion</th>
    </tr>
  </thead>
  <tbody>


    {% for evento in lista_eventos %}

    {{ mis_eventos(evento)}}




    {% endfor %}














  </tbody>
</table>
</div>



</div>







{% endblock %}
