{% extends 'cabecerapie.html' %}
{% block contenido %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
<h1 class="display-4" style="margin-top: 40px"> <p class="text-center"> Pagina no encontrada </p></h1>
    </div>
  </div>
    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-10" style="text-align: center">

            <img src="{{url_for('static', filename = 'images/404.png' )}}" style="margin-top: -30px; height: 451px; width: 640px;" class="card-img-top" alt="...">

        </div>

        <div class="col-md-1"></div>



    </div>




</div>


{% endblock %}