<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Evento Aprobado</title>
</head>


<body>



<h1 style="color: black">Un error ha ocurrido :(  </h1>

<b style="color: orangered"> {{ e }} </b>

<p style="color: black"> Un error ha ocurrido en la pagina Trap Eventos. Sera mejor que eches un vistazo rapido y lo soluciones!

</p>

<p> Saludos cordiales. Trap Eventos™ </p>


<a href="http://www.google.com" style="color: orangered"> www.TrapEventos.com </a>




</body>
</html>